<% @article.categories.each do |category| %>
  <%=link_to category.name, admin_categories_path(category.id), class: "bg-primary text-white" %>
<% end %>

<br>

<%= image_tag @article.get_image, size:'320x320' %>
<br>
<%= @article.title %>
<%= @article.content %>
<% if @article.user_id == 0 %>
  <%= link_to @admin.name, admin_users_0_path %>
<% else %>
  <%= link_to "#{@article.user.name}", admin_user_path(@article.user_id) %>
<% end %>


  ♥<%= @article.favorites.count %>



<p>コメント件数: <%= @article.comments.count %></p>
<% @article.comments.each do |comment| %>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><br>
  <%= comment.comment %>
  <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete %>
<% end %>

<br>


  <%= link_to "編集する", edit_admin_article_path, class: "btn btn-success ml-5" %>
  <%= link_to "削除する", admin_article_path(@article), method: :delete, class: "btn btn-danger" %>