<div class="container">
  <label class="h4 bg-light mb-5">投稿編集</label>
  <div class="row">
    <div class="col-lg-10">
      <div class="form mx-5">
        <div class="field">
          <%= form_with model: @article, url: article_path, method: :patch do |f| %>
            <%= f.label :タイトル, class:"mr-3" %>
            <%= f.text_field :title %><br>
            <%= f.label :category_ids, "カテゴリー" %>
             <% Category.all.each do |category| %>
               <%= f.check_box :category_ids,
                   { multiple: true, checked: @article.categories.find_by(id: category.id).present?, 
                   include_hidden: false }, category[:id] %>
                <%= category.name %>
              <% end %>
            <br>
            <%= f.label :サムネイル %>
            <%= f.file_field :image %><br>
            <%= f.label :投稿内容 %><br>
            <%= f.rich_text_area :content %><br>
            <%= f.label :公開ステータス %>
            <%= f.radio_button :is_active, true %> 公開
            <%= f.radio_button :is_active, false %> 非公開
            <%= f.submit "変更保存", class:"btn btn-success ml-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>