<div class="container">
  <div class="h3 p-3"><%= "カテゴリー「#{@category.name}」" %></div>
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-md-6 col-sm-6 border">
      <div class="row">
        <div class="col-md-4 col-sm-4 p-3">
          <%= link_to (image_tag article.get_image, size: '150x150'), admin_article_path(article) %>
        </div>
        <div class="col-md-8 col-sm-8 p-3">
          <div class="p-3">
            <%= link_to article.title, admin_article_path(article), class: "text-dark h5" %>
          </div>
          <div class="p-3">
            <i class="fas fa-user"></i>
            <% if article.user_id == 0 %>
              <%= @admin.name %>
            <% else %>
              <%= "#{article.user.name}" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate @favorite_articles %>
</div>