<div class="container">
  <label class="h4 bg-light mb-5">カテゴリ追加・一覧画面</label>
  <div class="row">
    <div class="col-lg-10">
      <div class="form mx-5">
        <%= form_with model: @category, url: admin_article_path do |f| %>
          <%= f.label :カテゴリ名, class:"mr-3" %>
          <%= f.text_field :name %>
          <%= f.submit "新規登録", class:"btn btn-success ml-3" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <table class="table shadow-sm mt-5">
        <thead class="bg-light">
          <tr>
            <th>カテゴリル</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to "編集する", edit_admin_category_path(category), class:"btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @categories %>
</div>
