<div class="container">
  <label class="h4 bg-light">
    <%= @user.name %>さんのユーザー情報編集
  </label>
  <dvi class="row mb-2">
    <div class="col-lg-10">
      <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td>ユーザー名</td>
            <td>
              <%= @user.name %>
            </td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <%= f.radio_button :is_deleted, false %> 有効
              <%= f.radio_button :is_deleted, true %> 退会
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "変更を保存", class:"btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </dvi>
</div>
  
  

