<div class="container">
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <label class="h4 bg-light">ユーザー一覧</label>
      <p>管理者：<%= link_to @admin.name, admin_users_0_path, class: "text-dark ml-2" %></p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table class="table shadow-sm">
        <thead class="bg-light">
          <tr>
            <th>会員ID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, admin_user_path(user), class:"text-dark" %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to "削除する", admin_user_path(user.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %> 
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>